.start_ct{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}
body{
    background-color: #26294b !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.start{
    background-color: rgb(236, 60, 60);
    width: 130px;
    border-radius: 20px;
    border: 1px solid rgb(236, 60, 60);;
}
.start:hover{
    background-color: rgb(133, 28, 28);
    color: antiquewhite;
}
.pic{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
img{
    border-radius: 50%;
    width: 200px;
    height: auto;
}